In [1]:
from datetime import datetime
import pandas as pd

In [2]:
df = pd.read_csv('final_collected_data_unfiltered.csv')
print(df)

                         |  |__humidity  |__rain  |__temperature  \
0     -O5KvYvBp2E9cV_8T6bN         61.5      125            13.8
1     -O5KwjV6PQJL34nelxU1         58.2      173            14.0
2     -O5Kxvb1KiFU1iEZWBdU         58.6      172            14.1
3     -O5Kz6OWm9kUiTM7EQIn         58.3      161            14.0
4     -O5L-I74RXKmhbch7mVf         57.2      157            14.2
...                    ...          ...      ...             ...
2074  -O6ei4zVUxBsZkitycPR         70.7      222            10.9
2075  -O6emuesyRq8ADAEvn08         71.9      217            10.6
2076  -O6eo5HuN1IoIU-3fLd6         70.6      221            10.4
2077  -O6hrRMJD3ZRJz4Bld4X         70.7      219            13.9
2078  -O6hsaB6yc6J_MNZF3xh         70.5      218            14.0

       |__timestamp
0     1724797304525
1     1724797614088
2     1724797925827
3     1724798236258
4     1724798546438
...             ...
2074  1726219837409
2075  1726221101753
2076  1726221411515
2077  1726272619989
2078  1726272922376

[2079 rows x 5 columns]

In [3]:
df.rename(columns={'|__humidity': 'humidity', '|__rain': 'rain', '|__temperature' : 'temperature', '|__timestamp': 'timestamp'}, inplace=True)
df = df.drop(columns = {'|'})
print(df)

      humidity  rain  temperature      timestamp
0         61.5   125         13.8  1724797304525
1         58.2   173         14.0  1724797614088
2         58.6   172         14.1  1724797925827
3         58.3   161         14.0  1724798236258
4         57.2   157         14.2  1724798546438
...        ...   ...          ...            ...
2074      70.7   222         10.9  1726219837409
2075      71.9   217         10.6  1726221101753
2076      70.6   221         10.4  1726221411515
2077      70.7   219         13.9  1726272619989
2078      70.5   218         14.0  1726272922376

[2079 rows x 4 columns]

In [4]:
df['hour']  = df['timestamp']
j = 0
for i in df['timestamp']:
    val = i / 1000
    d_time = datetime.fromtimestamp(val)
    df['hour'][j] = d_time
    j += 1

df['timestamp'] = df['hour']
print(df)

      humidity  rain  temperature                   timestamp  \
0         61.5   125         13.8  2024-08-28 08:21:44.525000
1         58.2   173         14.0  2024-08-28 08:26:54.088000
2         58.6   172         14.1  2024-08-28 08:32:05.827000
3         58.3   161         14.0  2024-08-28 08:37:16.258000
4         57.2   157         14.2  2024-08-28 08:42:26.438000
...        ...   ...          ...                         ...
2074      70.7   222         10.9  2024-09-13 19:30:37.409000
2075      71.9   217         10.6  2024-09-13 19:51:41.753000
2076      70.6   221         10.4  2024-09-13 19:56:51.515000
2077      70.7   219         13.9  2024-09-14 10:10:19.989000
2078      70.5   218         14.0  2024-09-14 10:15:22.376000

                            hour
0     2024-08-28 08:21:44.525000
1     2024-08-28 08:26:54.088000
2     2024-08-28 08:32:05.827000
3     2024-08-28 08:37:16.258000
4     2024-08-28 08:42:26.438000
...                          ...
2074  2024-09-13 19:30:37.409000
2075  2024-09-13 19:51:41.753000
2076  2024-09-13 19:56:51.515000
2077  2024-09-14 10:10:19.989000
2078  2024-09-14 10:15:22.376000

[2079 rows x 5 columns]

C:\Users\joshp\AppData\Local\Temp\ipykernel_18708\3430916567.py:6: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['hour'][j] = d_time
C:\Users\joshp\AppData\Local\Temp\ipykernel_18708\3430916567.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['hour'][j] = d_time
C:\Users\joshp\AppData\Local\Temp\ipykernel_18708\3430916567.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2024-08-28 08:21:44.525000' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df['hour'][j] = d_time

In [5]:
j = 0
for i in df['timestamp']:
    val = i.hour + (i.minute/60)
    val = int(round(val))
    df.loc[j, 'hour'] = val
    j += 1
print(df)

      humidity  rain  temperature                   timestamp hour
0         61.5   125         13.8  2024-08-28 08:21:44.525000    8
1         58.2   173         14.0  2024-08-28 08:26:54.088000    8
2         58.6   172         14.1  2024-08-28 08:32:05.827000    9
3         58.3   161         14.0  2024-08-28 08:37:16.258000    9
4         57.2   157         14.2  2024-08-28 08:42:26.438000    9
...        ...   ...          ...                         ...  ...
2074      70.7   222         10.9  2024-09-13 19:30:37.409000   20
2075      71.9   217         10.6  2024-09-13 19:51:41.753000   20
2076      70.6   221         10.4  2024-09-13 19:56:51.515000   20
2077      70.7   219         13.9  2024-09-14 10:10:19.989000   10
2078      70.5   218         14.0  2024-09-14 10:15:22.376000   10

[2079 rows x 5 columns]

In [6]:
df.to_csv('halfway.csv')

In [7]:
df = pd.read_csv('halfway.csv')
new_df = df

In [26]:
print(new_df)
new_df = new_df.drop(columns = {'Unnamed: 0'})
new_df['t'] = new_df['timestamp']
j = 0
for i in new_df['t']:
    n = 0
    i_mod = str(i)
    if len(i_mod) >= 19:
        n = len(i_mod) - 19
    if n > 0:
        i_mod = i_mod[:-n]
    date_format = '%Y-%m-%d %H:%M:%S'
    val = datetime.strptime(i_mod, date_format)
    new_df.loc[j, 'timestamp'] = val
    j += 1


print(new_df)
j = 0
for i in new_df['timestamp']:
    min = i.minute + (i.second / 60)
    hour = i.hour + (min / 60)
    h = "%.3f" % hour
    new_df.loc[j, 't'] = h
    j += 1

print(new_df)

      Unnamed: 0  humidity  rain  temperature                   timestamp  \
0              0      61.5   125         13.8  2024-08-28 08:21:44.525000
1              1      58.2   173         14.0  2024-08-28 08:26:54.088000
2              2      58.6   172         14.1  2024-08-28 08:32:05.827000
3              3      58.3   161         14.0  2024-08-28 08:37:16.258000
4              4      57.2   157         14.2  2024-08-28 08:42:26.438000
...          ...       ...   ...          ...                         ...
1324        1324      44.8   102         17.2  2024-09-09 14:23:25.255000
1325        1325      44.8   102         17.1  2024-09-09 14:28:36.795000
1326        1326      45.8   101         17.4  2024-09-09 14:33:46.342000
1327        1327      46.5   101         17.0  2024-09-09 14:38:56.123000
1328        1328      46.9   101         16.8  2024-09-09 14:49:18.601000

      hour
0        8
1        8
2        9
3        9
4        9
...    ...
1324    14
1325    14
1326    15
1327    15
1328    15

[1329 rows x 6 columns]
      humidity  rain  temperature            timestamp  hour  \
0         61.5   125         13.8  2024-08-28 08:21:44     8
1         58.2   173         14.0  2024-08-28 08:26:54     8
2         58.6   172         14.1  2024-08-28 08:32:05     9
3         58.3   161         14.0  2024-08-28 08:37:16     9
4         57.2   157         14.2  2024-08-28 08:42:26     9
...        ...   ...          ...                  ...   ...
1324      44.8   102         17.2  2024-09-09 14:23:25    14
1325      44.8   102         17.1  2024-09-09 14:28:36    14
1326      45.8   101         17.4  2024-09-09 14:33:46    15
1327      46.5   101         17.0  2024-09-09 14:38:56    15
1328      46.9   101         16.8  2024-09-09 14:49:18    15

                               t
0     2024-08-28 08:21:44.525000
1     2024-08-28 08:26:54.088000
2     2024-08-28 08:32:05.827000
3     2024-08-28 08:37:16.258000
4     2024-08-28 08:42:26.438000
...                          ...
1324  2024-09-09 14:23:25.255000
1325  2024-09-09 14:28:36.795000
1326  2024-09-09 14:33:46.342000
1327  2024-09-09 14:38:56.123000
1328  2024-09-09 14:49:18.601000

[1329 rows x 6 columns]
      humidity  rain  temperature            timestamp  hour       t
0         61.5   125         13.8  2024-08-28 08:21:44     8   8.362
1         58.2   173         14.0  2024-08-28 08:26:54     8   8.448
2         58.6   172         14.1  2024-08-28 08:32:05     9   8.535
3         58.3   161         14.0  2024-08-28 08:37:16     9   8.621
4         57.2   157         14.2  2024-08-28 08:42:26     9   8.707
...        ...   ...          ...                  ...   ...     ...
1324      44.8   102         17.2  2024-09-09 14:23:25    14  14.390
1325      44.8   102         17.1  2024-09-09 14:28:36    14  14.477
1326      45.8   101         17.4  2024-09-09 14:33:46    15  14.563
1327      46.5   101         17.0  2024-09-09 14:38:56    15  14.649
1328      46.9   101         16.8  2024-09-09 14:49:18    15  14.822

[1329 rows x 6 columns]

In [27]:
new_df['timestamp'] = new_df['t']
new_df = new_df.drop(columns = {'t'})
print(new_df)

o = new_df[new_df['hour'] > 8]
new_df = o[o['hour'] < 19]
print(new_df)

      humidity  rain  temperature timestamp  hour
0         61.5   125         13.8     8.362     8
1         58.2   173         14.0     8.448     8
2         58.6   172         14.1     8.535     9
3         58.3   161         14.0     8.621     9
4         57.2   157         14.2     8.707     9
...        ...   ...          ...       ...   ...
1324      44.8   102         17.2    14.390    14
1325      44.8   102         17.1    14.477    14
1326      45.8   101         17.4    14.563    15
1327      46.5   101         17.0    14.649    15
1328      46.9   101         16.8    14.822    15

[1329 rows x 5 columns]
      humidity  rain  temperature timestamp  hour
2         58.6   172         14.1     8.535     9
3         58.3   161         14.0     8.621     9
4         57.2   157         14.2     8.707     9
5         56.0   149         14.3     8.794     9
6         57.0   173         14.3     8.880     9
...        ...   ...          ...       ...   ...
1324      44.8   102         17.2    14.390    14
1325      44.8   102         17.1    14.477    14
1326      45.8   101         17.4    14.563    15
1327      46.5   101         17.0    14.649    15
1328      46.9   101         16.8    14.822    15

[1103 rows x 5 columns]

In [28]:
new_df['t_Target'] = new_df.shift(-1)['temperature']
new_df['h_Target'] = new_df.shift(-1)['humidity']
new_df['r_Target'] = new_df.shift(-1)['rain']
new_df = new_df.iloc[:-1 , :]
print(new_df)

      humidity  rain  temperature timestamp  hour  t_Target  h_Target  \
2         58.6   172         14.1     8.535     9      14.0      58.3
3         58.3   161         14.0     8.621     9      14.2      57.2
4         57.2   157         14.2     8.707     9      14.3      56.0
5         56.0   149         14.3     8.794     9      14.3      57.0
6         57.0   173         14.3     8.880     9      14.6      53.8
...        ...   ...          ...       ...   ...       ...       ...
1323      46.0   100         17.2    14.301    14      17.2      44.8
1324      44.8   102         17.2    14.390    14      17.1      44.8
1325      44.8   102         17.1    14.477    14      17.4      45.8
1326      45.8   101         17.4    14.563    15      17.0      46.5
1327      46.5   101         17.0    14.649    15      16.8      46.9

      r_Target
2        161.0
3        157.0
4        149.0
5        173.0
6        165.0
...        ...
1323     102.0
1324     102.0
1325     101.0
1326     101.0
1327     101.0

[1102 rows x 8 columns]

C:\Users\joshp\AppData\Local\Temp\ipykernel_9464\2101529429.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['t_Target'] = new_df.shift(-1)['temperature']
C:\Users\joshp\AppData\Local\Temp\ipykernel_9464\2101529429.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['h_Target'] = new_df.shift(-1)['humidity']
C:\Users\joshp\AppData\Local\Temp\ipykernel_9464\2101529429.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['r_Target'] = new_df.shift(-1)['rain']

In [29]:
new_df["t_Delta"] = new_df["t_Target"] - new_df['temperature']
new_df["h_Delta"] = new_df["h_Target"] - new_df['humidity']
new_df["r_Delta"] = new_df["r_Target"] - new_df['rain']
new_df = new_df.sort_values(['timestamp'], ascending = True)
print(new_df)

      humidity  rain  temperature timestamp  hour  t_Target  h_Target  \
19        45.5   175         17.0    10.000    10      17.4      43.8
1176      50.1   101         19.7    10.008    10      19.8      50.1
587       60.5   130          8.2    10.031    10       8.3      62.0
841       57.9   125         14.7    10.042    10      14.8      56.4
375       52.3   167         13.4    10.058    10      13.5      51.1
...        ...   ...          ...       ...   ...       ...       ...
130       58.5   165         11.8     9.984    10      11.8      57.9
716       65.0   127          7.7     9.987    10       7.9      65.4
240       56.1   163         16.0     9.987    10      16.3      55.2
1286      57.2   104         12.6     9.990    10      12.9      57.8
900       53.4    99         17.7     9.999    10      17.6      52.2

      r_Target  t_Delta  h_Delta  r_Delta
19       150.0      0.4     -1.7    -25.0
1176      99.0      0.1      0.0     -2.0
587      128.0      0.1      1.5     -2.0
841      125.0      0.1     -1.5      0.0
375      156.0      0.1     -1.2    -11.0
...        ...      ...      ...      ...
130      170.0      0.0     -0.6      5.0
716      129.0      0.2      0.4      2.0
240      174.0      0.3     -0.9     11.0
1286     103.0      0.3      0.6     -1.0
900      100.0     -0.1     -1.2      1.0

[1102 rows x 11 columns]

In [30]:
new_df = new_df.drop(["r_Target"], axis = 1)
new_df = new_df.drop(["h_Target"], axis = 1)
new_df = new_df.drop(["t_Target"], axis = 1)
print(new_df)

      humidity  rain  temperature timestamp  hour  t_Delta  h_Delta  r_Delta
19        45.5   175         17.0    10.000    10      0.4     -1.7    -25.0
1176      50.1   101         19.7    10.008    10      0.1      0.0     -2.0
587       60.5   130          8.2    10.031    10      0.1      1.5     -2.0
841       57.9   125         14.7    10.042    10      0.1     -1.5      0.0
375       52.3   167         13.4    10.058    10      0.1     -1.2    -11.0
...        ...   ...          ...       ...   ...      ...      ...      ...
130       58.5   165         11.8     9.984    10      0.0     -0.6      5.0
716       65.0   127          7.7     9.987    10      0.2      0.4      2.0
240       56.1   163         16.0     9.987    10      0.3     -0.9     11.0
1286      57.2   104         12.6     9.990    10      0.3      0.6     -1.0
900       53.4    99         17.7     9.999    10     -0.1     -1.2      1.0

[1102 rows x 8 columns]

In [36]:
new_df.to_csv('9_test_1.csv')